.form__containerUp {
  text-align: center;
  padding-top: 3px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  height: 80vh;
  background: white;
  box-shadow: 0px 0px 0.2rem 0.01rem black;
}
h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 20px;
  color: #d01818;
  text-decoration: underline;
  font-weight: 400;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.submitUp.MuiButton-containedPrimary {
  margin-top: 40px;
}
.MuiFormControl-root.MuiTextField-root.common-field {
  margin: 10px;
}
.MuiFormControl-root.MuiTextField-root.common-field.full {
  width: 460px;
}
@media screen and (max-width:477px){
  .MuiFormControl-root.MuiTextField-root.common-field.full {
    width: 216px;
  }
}